.DS_Store

# Secrets
app_state.edn
api_keys.edn

# Clojure build
**/target/
**/.clj-kondo/
**/.lsp/

# ClojureScript / shadow-cljs
**/.shadow-cljs/
**/node_modules/
**/package-lock.json

# Compiled JS output
**/public/js/
